@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-bg:after {
  content: "";
  @apply absolute left-0.5 top-0.5 h-4 w-4 rounded-full border border-white bg-white shadow-sm transition;
}
input:checked + .toggle-bg:after {
  transform: translateX(125%);
  @apply border-white;
}
input:checked + .toggle-bg {
  @apply border-MarineBlue bg-MarineBlue;
}

@layer components {
  .section {
    @apply absolute left-[50%] top-24 flex w-10/12 flex-1 translate-x-[-50%] flex-col rounded-xl bg-white p-5 md:static md:translate-x-0 md:rounded-none md:bg-transparent md:px-14 md:py-10;
  }
}
